.footer
  padding 40px 0
  background-color darker
  color lighter

  & a
    color lighter
    &:hover
      color orange

  & p
    font-size 16px
    line-height 22px
    margin 0 0 10px 0

    & .fa
      color #E84545
      margin 0 2px

  & img
    max-width 150px
    &:hover
      opacity(0.6)