.content
    padding-top 60px
    padding-bottom 60px
    min-height 470px

    &__login
        padding 30px
        border-radius(3px)
        background-color gray-lighter
        box-shadow(0 0 5px rgba(0,0,0,0.09))
        max-width 530px
        background-color darker

        & .form__label
        & h3
            color lighter

        & h3
            margin-bottom 20px