font-size-h1 = 40px
font-size-h2 = 34px
font-size-h3 = 28px

line-height-h1 = 55px
line-height-h2 = 46px
line-height-h3 = 38px

h1, h2, h3
  color darker
  font-weight bold

h1
  font-size font-size-h1
  line-height line-height-h1
  color darker
  margin-bottom 30px

h2
  font-size font-size-h2
  line-height line-height-h1

h3
  font-size font-size-h3
  line-height line-height-h3