.pull-left
  float left

.pull-right
  float right

.show
  display block

.hide
  display none

.text-center
  text-align center

.text-left
  text-align left

.text-right
  text-align right

.absolute
  position absolute

.relative
  position relative

.in-block
  display inline-block

.center-block
  margin 0 auto
  display block

.img-responsive
  max-width 100%

.clearfix
  &:before
  &:after
    content " "
    display table

  &:after
    clear both