*
  vendor('box-sizing', border-box)

body
  font-family base-font-family
  font-weight base-font-weight
  font-size base-font-size
  line-height base-line-height
  background-color lighter

a
  text-decoration none