.form
  &__group
    margin-bottom 20px

  &__label
    color darker
    font-size form-label-font-size
    font-weight bold
    margin-bottom 10px

  &__field
    display block
    width 100%
    padding 6px 18px
    height 60px
    border 1px solid gray-darker
    color darker
    font-size form-field-font-size
    border-radius(3px)

    &:hover
    &:focus
      border-color orange